{% extends 'base.html' %}
{% load static %}

{% block title %}
Donate to {{ project.title }}
{% endblock %}

{% block body %}
<h2>Donate to {{ project.title }}</h2>
<form method="post" action="{% url 'project_detail' project_id=project.id %}">
    {% csrf_token %}
    <label for="amount">Amount:</label>
    <input type="text" id="amount" name="amount">
    <button type="submit">Donate</button>
</form>
{% endblock %}
{% block footer %}
        <p>&copy; 2024 Crowd-Funding Web app. All rights reserved ITI.</p>
        {% endblock footer %}