{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block body %}
<div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for project in highest_rated_projects %}
      <div class="carousel-item {% if forloop.first %} active {% endif %}">
        <div class="card">
          <a href="{% url 'project_detail' project_id=project.id %}">
            <img src="{{ project.picture.url }}" class="card-img-top d-block w-100" alt="{{ project.title }}">
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <h1>Project Search</h1>
  <form id="searchForm" method="GET" action="{% url 'search_projects' %}">
    <input type="text" name="query" placeholder="Search for projects" />
    <button type="submit">Search</button>
  </form>
  <div id="searchResults"></div>

  <!-- List of the latest 5 projects -->
  <h2>Latest Projects</h2>
  <div class="d-flex justify-content-center gap-5">
    {% for project in latest_projects %}
    <div class="mx-3 card ctCat" style="width: 18rem">
      <a href="{% url 'project_detail' project_id=project.id %}">
        <img src="{{ project.picture.url }}" class="card-img-top" alt="{{ project.title }}" />
      </a>
      <div class="card-body">
        <h5 class="card-title">{{ project.title }}</h5>
        <p class="card-text">{{ project.details }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- List of categories -->
  <div class="pt-3">
    <div class="ctCat card text-center">
      <div class="card-header">Categories</div>
      <div class="card-body">
        <h5 class="card-title">Thank you for Helping People</h5>
        <p class="card-text">for the people by the people</p>
        <ul>
          {% for category in categories %}

          <a href="{% url 'category_projects' category.id %}" class="btn btn-secondary">
            {{ category.name }}
          </a>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}