body {
  font-family: Arial, sans-serif;
  background: #63c88a;
  background: linear-gradient(135deg, #63c88a, #913b3d);
  padding-bottom: 20px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-between;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
  padding: 10px 18px;
  margin: 0 5px;
  text-decoration: none;
  transition: 0.5s ease;
  border-radius: 20px;
}

.navbar li a:hover {
  background-color: #ddd;
  border-radius: 20px;
  color: black;
}

footer p {
  margin: 0;
  font-size: 14px;
  color: #fffbfb;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
  padding: 10px 0;
  color: #666;
  margin-top: 20px;
}