{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile_detail.css' %}" />
{% endblock %}

{% block title %}
{{ user_profile.first_name }}'s Profile
{% endblock %}

{% block body %}
<div class="profile">
    <div class="profile-picture">
        <img src="{% if user_profile.profile_picture %}{{ user_profile.profile_picture.url }}{% else %}{% static 'images/default.png' %}{% endif %}" alt="Profile Picture">
    </div>
    <div class="profile-info">
        <h1>{{ user_profile.first_name }} {{ user_profile.last_name }}</h1>
        <p>Email: {{ user_profile.email }}</p>
        <p>Mobile Phone: {{ user_profile.mobile_phone }}</p>
        
        {% if user_profile.birthdate %}
        <p>Birthdate: {{ user_profile.birthdate }}</p>
        {% endif %}
        
        {% if user_profile.facebook_profile %}
        <p>Facebook Profile: <a href="{{ user_profile.facebook_profile }}">{{ user_profile.facebook_profile }}</a></p>
        {% endif %}
        
        {% if user_profile.country %}
        <p>Country: {{ user_profile.country }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}